{% set src = src ?? null %}
{% set alt = alt ?? (name ?? 'Avatar') %}
{% set name = name ?? 'Shaka User' %}
{% set size = size ?? 'md' %}
<div class="shaka-avatar shaka-avatar--{{ size }}">
  {% if src %}
    <img src="{{ src }}" alt="{{ alt }}" loading="lazy">
  {% else %}
    <span>{{ name|slice(0, 1)|upper }}</span>
  {% endif %}
</div>
