<header class="shaka-api-topbar">
  <div class="shaka-api-topbar__inner">
    <a class="shaka-api-topbar__brand" href="/shaka/api">Shaka API Docs</a>

    <div class="shaka-api-topbar__actions">
      <a class="shaka-api-link" href="/shaka/api">Overview</a>
      <a class="shaka-api-link" href="/shaka/api/reference">Reference</a>
      <a class="shaka-api-link" href="/shaka/api/errors">Errors</a>
    </div>
  </div>
</header>
