{% extends 'shaka/layout/base.html.twig' %}
{% block title %}Page not found{% endblock %}
{% block content %}
  <section class="shaka-error-page">
    <div class="shaka-container shaka-error-page__inner">
      {% include 'shaka/components/_badge.html.twig' with { label: '404', variant: 'neutral' } only %}
      <h1>Page not found</h1>
      <p>The page you are looking for does not exist or has been moved.</p>
      <div class="shaka-error-page__actions">
        {% include 'shaka/components/_button.html.twig' with { label: 'Back home', href: '/' } only %}
        {% include 'shaka/components/_button.html.twig' with { label: 'See showcase', href: '/shaka/showcase', variant: 'secondary' } only %}
      </div>
    </div>
  </section>
{% endblock %}
