{% extends 'shaka/layout/base.html.twig' %}
{% block title %}Server error{% endblock %}
{% block content %}
  <section class="shaka-error-page">
    <div class="shaka-container shaka-error-page__inner">
      {% include 'shaka/components/_badge.html.twig' with { label: '500', variant: 'danger' } only %}
      <h1>Something went wrong</h1>
      <p>An unexpected error occurred. Try again in a moment.</p>
      <div class="shaka-error-page__actions">
        {% include 'shaka/components/_button.html.twig' with { label: 'Back home', href: '/' } only %}
      </div>
    </div>
  </section>
{% endblock %}
